{% extends "registration/auth_base.html" %}
{% load crispy_forms_tags %}



{% block page_header %}<div class="col-5 bg-light p-3 card">
<h3>Accéder à l'administration du site</h3>
{% endblock page_header %}

{% block content %}

<form method="post" action="" class="form-group">
    {% csrf_token %}
    {% if 'admin' in request.path %}
    <input type="hidden" name="next" value="../../administration/">

    {{ form|crispy }}

    <button name="submit" class="btn btn-primary">Se connecter</button>
    {% endif %}

</form>

  <div class="card-footer">
    Mot de passe oublié ? <a href="{% url "password_reset" %}">cliquez ici</a><br>
  </div></div>
{% endblock content %}
</div>