* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
}


html {
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.box6 {
    width: 16.67%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: 900;
}

.box4 {
    width: 21.85%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ECECEC;
    font-size: 14px;
    color: #0481D9;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.box3 {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}

.box2 {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    border: solid 3px white;
}

.box3v {
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: #4BB979;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding: 40px 10px 40px 10px;
}

.box3v1 {
    display: flex;
    justify-content: space-around;
    margin: 60px 0px 0px 0px;
}

.box3vph {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.box3b {
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: white;
    color: #4BB979;
    font-size: 35px;
    font-weight: bold;
    justify-content: center;
    padding: 40px 10px 40px 10px;
}

.box3bv {
    width: 54%;
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    background-color: #4BB979;
    color: white;
    align-content: center;
    margin: 55px 0px 0px 0px;
}

.box3vb {
    width: 54%;
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    background-color: white;
    color: #4BB979;
    margin: 10px 0px 0px 0px;
    justify-content: center;
    align-content: center;
}

.bandeau1 {
    padding: 36px 0px 36px 0px;
    height: 100%;
    background: #0EA6C2;
    margin-top: -327px;
}

.bandeau2 {
    height: 100%;
    background: #0481D9;
    justify-content: center;
    padding: 36px 0px 36px 0px;
}

.bandeau3 {
    height: 100%;
    justify-content: center;
    padding: 36px 0px 0px 0px;
}

.bandeau4 {
    height: 100%;
    background: #3B3B3B;
    justify-content: center;
    padding: 36px 0px 72px 0px;
}

.bandeau5 {
    height: 100%;
}

.bandeau3 a,
.box3bv a,
.box6 a,
footer a {
    text-decoration: none;
    color: white;
}

.box3vb a {
    text-decoration: none;
    color: #4BB979;
}

.titre {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 36px;
}

img {
    max-width: 100%;
    /* pour que mes images soit de la taille de leur bloc parents*/
}

.box4 img {
    width: 38%;
    margin: 20px 0px 20px 0px;
}

header {
    position: fixed;
    background-color: #cdcdcd;
    height: 80px;
}

#fond {
    width: 100%;
    margin: auto;
    z-index: -1;
}

.logo {
    width: 20%;
}

.logo img {
    height: 80px;
}

.logotel {
    display: none;
}

.recherche {
    width: 68%;
    text-align: right;
}

.recherche input {
    height: 40px;
    width: 300px;
    margin-top: 20px;
}

footer {
    padding: 5px;
    color: white;
    width: 100%;
    background-color: #0EA6C2;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.contfoot {
    margin: 5px;
}

.contfoottel {
    display: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

footer p {
    margin-bottom: 0px;
}

.card {
    margin-top: 0px;
}

ul {
    font-size: 18px;
    list-style: none;
}

ul a {

    color: white;
}

ul a:hover {
    color: white;
    text-decoration: underline;
}

.formulaire {
    background-color: #cdcdcd;
    border-radius: 5px;
    border: 1px #585858;
    padding: 20px;
}

/*================================*/
/*=== Partie sur le Swipe Menu ===*/
/*================================*/

/* Menu burger */
#menu-burger {
    position: absolute;
    z-index: 9999;
    top: 1em;
    right: 3em;
    display: inline-block;
    cursor: pointer;
}

#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
    width: 32px;
    height: 5px;
    background-color: #464646;
    margin: 6px 0;
    transition: 0.4s;
}

#menu-burger:hover {
    opacity: .5;
    transition: .5s;
}

#menu-burger.clicked .bar1 {
    background-color: #303030;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

#menu-burger.clicked .bar2 {
    opacity: 0;
}

#menu-burger.clicked .bar3 {
    background-color: #303030;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Main menu (slide) */
#menu {
    position: fixed;
    z-index: 9999;
    right: -30%;
    top: 80px;
    background: #efefef;
    padding: 4em 2em;
    width: 30%;
    min-height: 100%;
}

#menu ul li {
    list-style: none;
}

#menu ul li a {
    display: block;
    color: #303030;
    text-decoration: none;
    font-size: 3vh;
    font-weight: 600;
    transition: background .5s;
    padding: .6em;
    text-align: left;
}

#menu ul li a.noclick {
    color: #585858;
}

#menu ul li a:hover {
    color: #efefef;
    background: #585858;
    transition: background .5s;
}

#menu.visible {
    animation: .5s slideRight ease-in forwards;
    transition-delay: 0;
    padding: 20px 20px 0px 20px;
}

#menu.invisible {
    animation: .5s slideLeft ease-out forwards;
    transition-delay: 0;
}

/* Animations pour le menu slide */
@keyframes slideRight {
    from {
        right: -30%;
    }

    to {
        right: 0%;
    }
}

@-webkit-keyframes slideRight {
    from {
        right: -30%;
    }

    to {
        right: 0%;
    }
}

@keyframes slideLeft {
    from {
        right: 0%;
    }

    to {
        right: -30%;
    }
}

@-webkit-keyframes slideLeft {
    from {
        right: 0%;
    }

    to {
        right: -30%;
    }
}


/* Responsive design */
@media (max-width:1024px) {
    header {
        height: 60px;
    }

    .recherche input {
        margin-top: 10px;
    }

    .box4 {
        width: 30%;
    }

    .box4.dntab {
        display: none;
    }

    .box3v {
        font-size: 25px;
        padding: 20px 10px 20px 10px;
    }

    .box3b {
        font-size: 25px;
        padding: 20px 10px 20px 10px;
    }

    .box3bv,
    .box3vb {
        margin: 0;
    }

    .box3v1 {
        margin-top: 20px;
    }

    .contfoot.dntab {
        display: none;
    }

    .logo img {
        height: 60px;
    }

    #menu {
        top: 60px;
        right: -50%;
        width: 50%;
    }

    #menu-burger {
        top: .7rem;
    }

    #menu-burger.clicked {
        position: fixed;
    }


    /* Animations pour le menu slide */
    @keyframes slideRight {
        from {
            right: -50%;
        }

        to {
            right: 0%;
        }
    }

    @-webkit-keyframes slideRight {
        from {
            right: -50%;
        }

        to {
            right: 0%;
        }
    }

    @keyframes slideLeft {
        from {
            right: 0%;
        }

        to {
            right: -50%;
        }
    }

    @-webkit-keyframes slideLeft {
        from {
            right: 0%;
        }

        to {
            right: -50%;
        }
    }
}

@media (max-width:600px) {
    header {
        height: 35px;
    }

    .recherche {
        width: 50%;
    }

    .recherche input {
        height: 20px;
        margin-top: 6px;
        width: 150px;
    }

    .bandeau1 {
        padding: 10px;
        margin-top: -120px;
    }

    .bandeau2 {
        padding: 20px 10px 20px 10px;
    }

    .bandeau3 {
        padding: 20px 0px 0px 0px;
    }

    .bandeau4 {
        padding: 20px 0px 20px 0px;
    }

    .box6 {
        width: 100%;
    }

    .box2 {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }

    .box3 {
        width: 80%;
    }

    .box3.dntel {
        display: none;
    }

    .box3v {
        width: 100%;
        height: auto;
    }

    .box3b {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .box3bv,
    .box3vb {
        height: 150px;
        margin-top: 20px;
        justify-content: center;
    }

    .box4 {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }

    .box4.dntel {
        display: none;
    }

    footer {
        font-size: 12px;
    }

    .contfoot.dntel {
        display: none;
    }

    .contfoottel {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .titre {
        margin-bottom: 20px;
        font-size: 22px;
    }

    .logo {
        display: none;
    }

    .logotel {
        display: block;
        margin: 5px 0px 0px 10px;
        color: black;
    }

    #menu-burger {
        top: 0.25em;
        right: 1.2em;
        z-index: 9999;
    }

    #menu {
        top: 35px;
        right: -100%;
        width: 100%;
    }

    #menu-burger .bar1,
    #menu-burger .bar2,
    #menu-burger .bar3 {
        width: 20px;
        height: 3px;
        background-color: #464646;
        margin: 4px 0;
        transition: 0.4s;
    }

    /* Animations pour le menu slide */
    @keyframes slideRight {
        from {
            right: -100%;
        }

        to {
            right: 0%;
        }
    }

    @-webkit-keyframes slideRight {
        from {
            right: -100%;
        }

        to {
            right: 0%;
        }
    }

    @keyframes slideLeft {
        from {
            right: 0%;
        }

        to {
            right: -100%;
        }
    }

    @-webkit-keyframes slideLeft {
        from {
            right: 0%;
        }

        to {
            right: -100%;
        }
    }
}