<!doctype html>
{% load static %}
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: 'textarea'
    });
  </script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'style.css' %}">

  <title>WebMag Agency : administration</title>

</head>

<body class="bg-info">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav nav-pills mr-auto">
        <li class="nav-item">
          <a class="nav-link nav-brand" href="{% url 'index_admin' %}">WebMag Agency</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Blog</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'post_create' %}">Ajout publication</a>
            <a class="dropdown-item" href="{% url 'blog_index_admin' %}">Liste publications</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'categorie_create' %}">Ajout catégorie</a>
 <a class="dropdown-item" href="{% url 'categorie_liste' %}">Modifier/supprimer une catégorie</a>
            <a class="dropdown-item" href="{% url 'categorie_liste' %}">Liste catégorie</a>
          </div>
        </li>
        {% if user.type_user == 'RES' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'validation_commentaire' %}">Validation commentaire</a>
        </li>
        {% endif %}
      </ul>
      <ul class="nav nav-pills ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}" target="_blank">Voir le site</a>
        </li>
        <li class="nav-item dropdown mr-4">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Mon compte</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'profile' %}">Mon profil</a>
            <a class="dropdown-item" href="{% url 'password_change' %}">Changer Mot de passe</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login_admin' %}">Connexion</a>
        </li>
        {% endif %}
      </ul>
    </div>

  </nav>



  <div class="box" style="justify-content: center">

    {% block page_header %}{% endblock page_header %}

    {% block content %}{% endblock content %}

  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>



</body>

</html>