<!--templates/registration/login.html-->
{% extends "registration/auth_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Identifiez-vous</h4>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">{{ form|crispy }}<button type="submit"
        class="btn btn-primary btn-block">Se connecter</button>
    </form>
  </div>
  <div class="card-footer">
    Mot de passe oublié ? <a href="{% url "password_reset" %}">cliquez ici</a><br>
<!--    Nouveau client ? <a href="{% url "register" %}?next={{ next }}">Créer un compte</a> -->
  </div>
</div>

{% endblock %}