<!--templates/registration/password_change_form.html-->
{% extends 'registration/auth_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center" style="width: 100%;">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Changez votre Mot de passe</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary btn-block">Changez votre Mot de passe</button>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}