<!--templates/registration/password_change_form.html-->
{% extends 'registration/auth_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h2>Votre mot de passe a été modifié</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}