<!--templates/registration/profile.html-->
{% extends 'registration/auth_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center" style="width: 100%">
    <div class="col-4" >
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mettre à jour votre profil</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary btn-block">Mise à jour Profil</button>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}