{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="box" style="width: 80%;">

    {% for post in posts %}
    <div class="box p-3" style="width: 50%">
        <h5><strong>{{ post.titre }}</strong></h5>
        <div class="box">

            {{ post.created_on.date }} |&nbsp;<b style="font-weigth: bold">{{ post.publish }}</b>&nbsp;|&nbsp;Categories
            :&nbsp;{{ post.categorie }}
        </div>
        <img class="card-img-top" style="width:50%" src="{{ post.image.url }}"><br>

        <div class="box mt-2">{{ post.texte | slice:":250" | safe }}...</div>
        <div class="box">
            <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">En savoir plus...</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}