{% extends 'registration/auth_base.html' %}
{% load static %}


{% block content %}

<div class="formulaire" style="width: 80%; display: flex; flex-wrap: wrap">

<div style="font-weight: bold">{{ comment.auteur }}</div>&nbsp;a écrit :
{{ comment.texte|safe }}
<div class="box" style="text-decoration: underline"> A propos de la publication :</div>
<div class="box mb-3">{{ comment.post }}</div>


<form class="box" method="post">
{% csrf_token%}
<a class="btn btn-secondary mr-3" href="{% url 'validation_commentaire' %}">Ne pas valider ce commentaire</a>
<input type="submit" class="btn btn-primary" value="Valider ce commentaire">
</form>
</div>
{% endblock %}