{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="box pt-3" style="width: 80%;">

    <h5><strong>{{ post.titre }}</strong></h5>
    <div class="box">
        {{ post.created_on.date }} |&nbsp;<b style="font-weigth: bold;">{{ post.publish }}</b>&nbsp;|&nbsp;Categories:&nbsp;
    </div>
    <img class="card-img-top" style="width:40%" src="{{ post.image.url }}"><br>

    <div class="box mt-3">{{ post.texte | safe }}</div>
</div>
<div class="box mb-3" style="width: 80%">
<a href="{% url 'blog_index' %}" class="btn btn-secondary">Retour à la liste des publications</a>
</div>
<div class="box" style="width: 80%">
<h3>Laisser un commentaire : </h3>
    <div class="box">
    <form  class="mb-3" style="width: 100%" action="/blog/post/{{ post.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.auteur }}
        </div>
        <div class="form-group">
            {{ form.texte }}
        </div>
        <p class="small"><strong>Les commentaires sont soumis à la vaildation par un modérateur</strong></p>
        <input type="submit" class="btn btn-primary" value="Soumettre">
    </form>
    </div>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}><h3>{{ message }}</h3></li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="box mt-4">
    <h3>Commentaires :</h3>

    {% for comment in comments %}
    <!-- Seul les commentaires validés par le modérteur seront affichés -->
    {% if comment.validation == True %}
    <div class="box">
        Le {{comment.created_on.date }}&nbsp;
        <b>{{ comment.auteur }}</b>&nbsp;a écrit :
    </div>
    <p>{{ comment.texte | safe }}</p>
    <hr>
    {% endif %}
    {% endfor %}

</div>
{% endblock %}