{% extends 'registration/auth_base.html' %}
{% load static %}


{% block content %}

<div class="formulaire" style="width: 80%; display: flex; flex-wrap: wrap">

    {% for valid in nonvalider %}
    <div class="box p-3" style="width: 25%;">
        <div class="box" style="font-weight: bold"> {{ valid.auteur }}</div>
        <div class="box"> {{ valid.created_on }}</div>
        <div class="box">{{ valid.post}}</div>

        <div class="box">
            <a href="{% url 'commentaire_detail' valid.pk %}" class="btn btn-primary">Lire</a>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}