{% extends 'registration/auth_base.html' %}
{% load static %}


{% block content %}

<div class="box" style="width: 80%">

    {% for post in posts %}

    <div class="box" style="width: 25%">
        <div class="box">
            <strong>{{ post.titre | slice:":50" }}</strong>
        </div>
        {{ post.created_on.date }} |&nbsp;
        Categories :&nbsp; {{ post.categorie }}

        <img class="card-img-top" style="width:70%" src="{{ post.image.url }}"><br>
        <div class="box">
            <a href="{% url 'post_update' post.pk%}" class="btn btn-primary mr-2">Modifier</a>
            <a href="{% url 'post_delete' post.pk%}" class="btn btn-danger">Supprimer</a>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}