{% extends 'registration/auth_base.html'%}
{% load static %}

{% block content %}
<div class="formulaire">
<form method="post">

{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="btn btn-primary" value="Ajout catégorie">
</form>
</div>
{% endblock %}
