{% extends 'registration/auth_base.html' %}
{% load static %}

{% block content%}

<div class="formulaire" style="width: 40%; display: flex; flex-wrap: nowrap;">

    {% for liste in categorie %}
    <div class="box" style="width: 25%; ">
        <a href="{% url 'categorie_update' liste.id %}">{{ liste.nom_categorie }}</a>
    </div>

    {% endfor%}
</div>

{% endblock %}