{% extends 'registration/auth_base.html'%}
{% load static %}

{% block content %}
<div class="formulaire" style="width: 40%;">
<form method="post" >

{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="btn btn-primary" value="Modifier catégorie">
<a class="btn btn-danger" href="{% url 'categorie_delete' pk %}">Supprimer catégorie</a>
</form>
</div>
{% endblock %}
