{% extends "registration/auth_base.html" %}


{% block content %}
<div class="formulaire" style="width: 60%;">

    <form class="form-group" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Titre</label>
        {{ form.titre }}
        <label>Texte</label>
        {{ form.texte }}
        <label>Catégories</label>
        {{ form.categorie }}<br>
        <!-- l'image ne s'affiche que pour l'update du Post -->
        {% if form.image.value != None %}
        <p>Vous pouvez uploader une nouvelle photo si vous souhaitez la changer</p>
        <img src="/media/{{ form.image.value }}" width="200px">
        <br>
        {% endif %}

        <label>Image</label>
        {{ form.image }}<br>
        <a href="{% url 'blog_index_admin' %}" class="btn btn-secondary">Retour à la liste</a>
        <input type="submit" class="btn btn-primary" value="Enregistrer une publication">
    </form>
</div>

{% endblock %}