{% extends 'registration/auth_base.html' %}
{% load static %}

{% block content %}

<div class="box" style="width: 70%">
<form method="post" class="form-control" enctype="multipart/form-data">
    {% csrf_token %}

    <p>{{ form.titre }}</p>

    <p><img src="/media/{{ form.image.value }}" alt="" width="400px"></p>
    <p>{{ form.texte }}</p>
    <a href="{% url 'blog_index_admin' %}" class="btn btn-secondary">Retour à la liste</a>
    <input type="submit" class="btn btn-danger" value="Supprimer">


</form>
</div>
{% endblock content %}