{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Accueil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
      <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: 'textarea'
    });
  </script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="{% static 'script.js' %}" async></script>

</head>

<body>
    <nav id="menu">
        <ul>
            <li><a href="#">Communication</a></li>
            <li><a href="#">Solutions Web</a></li>
            <li><a href="#">Référencement</a></li>
            <li><a href="#">Web Marketing</a></li>
            <li><a href="#">Nos réalisations</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="{% url 'blog_index' %}">Blog</a></li>
            <li><a href="#">Avis client</a></li>
            <li><a href="#">Formations</a></li>
            <li><a href="#">Espace coworking</a></li>
        </ul>
    </nav>

    <div class="box">
        <header class="box">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'images/Logo-Webmag-Agency.png' %}" alt="Web"></a>

            </div>
            <div class="logotel">WebMag-Agency</div>
            <div class="recherche">
                <input type="search" placeholder="Recherche">
            </div>
            <div id="menu-burger">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </header>
    </div>
<div style="margin-top: 80px;"></div>
    <div class="box" style="justify-content: center">
    {% block content %}

    {% endblock %}
    </div>


    <footer>
        <div class="box" style="justify-content: space-around">
            <div class="contfoot">
                <P>WEBMAG-AGENCY</P>
                <p>Le Clauzuroux</p>
                <p>24320 Champagne et Fontaine</p>
                <p>Email : contact@webmag-agency.com</p>
            </div>
            <div class="contfoot">
                <p>Tél : 01 42 33 52 85</p>
                <p>Fax : 01 42 33 52 86</p>
                <p><u>Horaires :</u> Du lundi au vendredi de 9h30 à</p>
                <p>12h30 et de 14h30 à 18h30</p>
            </div>
            <div class="contfoot dntab">
                <p><a href="#">Communication</a></p>
                <p><a href="#">Solutions Web</a></p>
                <p><a href="#">Référecement</a></p>
                <p><a href="#">Web Marketing</a></p>
            </div>
            <div class="contfoot dntab">
                <p><a href="#">Nos réalisations</a></p>
                <p><a href="#">Formations professionnelles</a></p>
                <p><a href="#">Formations grand public</a></p>
                <p><a href="#">Espaces coworking</a></p>
            </div>
            <div class="contfoot dntel">
                <p><a href="#">Plan du site</a></p>
                <p><a href="#">Localisation</a></p>
                <p><a href="#">Newsletter</a></p>
                <p><a href="#">Mentions légales</a></p>
            </div>
            <div class="contfoot dntel">
                <div>
                    <a href="#"><img src="{% static 'images/facebook.png' %}" alt="facebook"></a>
                    <a href="#"><img src="{% static 'images/twitter.png' %}" alt="twitter"></a>
                    <a href="#"><img src="{% static 'images/linkedin.png' %}" alt="linkedin"></a>
                </div>
                <div>
                    <a href="#"><img src="{% static 'images/youtube.png' %}" alt="youtube"></a>
                    <a href="#"><img src="{% static 'images/ENVELOPPE.png' %}" alt="contact"></a>
                </div>
            </div>

        </div>
        <div class="contfoottel">
            <div>
                <a href="#"><img src="{% static 'images/facebook.png' %}" alt="facebook"></a>
            </div>
            <div>
                <a href="#"><img src="{% static 'images/twitter.png' %}" alt="twitter"></a>
            </div>
            <div>
                <a href="#"><img src="{% static 'images/linkedin.png' %}" alt="linkedin"></a>
            </div>
            <div>
                <a href="#"><img src="{% static 'images/youtube.png' %}" alt="youtube"></a>
            </div>
            <div>
                <a href="#"><img src="{% static 'images/ENVELOPPE.png' %}" alt="contact"></a>
            </div>
        </div>
    </footer>

    </div>

</body>

</html>