{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="box">
            <img id="fond" src="{% static 'images/fond-accueil.png' %}" alt="fond-accueil">
        </div>
        <div class="box bandeau1">
            <div class="box6"></div>
            <div class="box6"><a href="#">Communication</a></div>
            <div class="box6"><a href="#">Solutions Web</a></div>
            <div class="box6"><a href="#">Référencement</a></div>
            <div class="box6"><a href="#">Web Marketing</a></div>
        </div>

        <div class="box bandeau2">
            <div class="titre" style="color:white;">ACTUALITES</div>
            <div class="box" style="justify-content:space-around">

                <div class="box4">
                    <div>Découvrez toutes nos offres de référencement</div>
                    <img src="{% static 'images/actu-2.jpg' %}" alt="actualités">
                    <div class="btn btn-primary">Découvrez</div>
                </div>

                <div class="box4">
                    <div>Pourquoi intégrer le SEO dès la création de son site Web ?</div>
                    <img src="{% static 'images/actu-1.png' %}" alt="actualités">
                    <div class="btn btn-primary">lire l'article</div>
                </div>

                <div class="box4 dntel">
                    <div>Pourquoi et comment utiliser les hashtags sur les réseaux sociaux ?</div>
                    <img src="{% static 'images/actu-3.jpg' %}" alt="actualités">
                    <div class="btn btn-primary">lire l'article</div>

                </div>

                <div class="box4 dntab">
                    <div>5 tips à connaître pour rédiger une newsletter engageante</div>
                    <img src="{% static 'images/actu-4.jpg' %}" alt="actualités">
                    <div class="btn btn-primary">lire l'article</div>

                </div>
            </div>
        </div>

        <div class="box bandeau3">
            <div class="titre" style="color:#0481D9;">NOS DERNIERES REALISATIONS</div>
            <div class="box" style="justify-content:space-around">
                <div class="box3">
                    <a href="#"><img src="{% static 'images/realisation-2.jpg' %}" alt="realisation"></a>
                </div>
                <div class="box3">
                    <a href="#"><img src="{% static 'images/realisation-1.jpg' %}" alt="realisation"></a>
                </div>
                <div class="box3 dntel">
                    <a href="#"><img src="{% static 'images/realisation-3.jpg' %}" alt="realisation"></a>
                </div>
            </div>
            <div class="titre" style="background-color: #0481D9; color:white; margin-top:36px;"><a
                    href="#">&nbsp;&nbsp;TOUTES NOS REALISATIONS&nbsp;&nbsp;</a></div>

        </div>

        <div class="box bandeau4">
            <div class="titre" style="color:white;">NOS ESPACES DE COWORKING</div>
            <div class="box" style="justify-content:space-around">
                <div class="box2">
                    <a href="#"><img src="{% static 'images/esapce-coworking-1.jpg' %}" alt="esapce-coworking"></a>
                </div>
                <div class="box2">
                    <a href="#"><img src="{% static 'images/espace-coworking-2.jpg' %}" alt="espace-coworking"></a>
                </div>
            </div>
        </div>

<div class="box">
            <div class="box3v">
                <div>Inscrivez-vous à nos formations thématiques</div>
                <div class="box3v1">
                    <div class="box3vph">
                        <a href="#"><img src="{% static 'images/formation-professionnelle.jpg' %}"
                                alt="formation professionnelle"></a>
                    </div>
                    <div class="box3vph">
                        <a href="#"><img src="{% static 'images/formation-personnelle.jpg' %}"
                                alt="formation personnelle"></a>
                    </div>
                </div>
            </div>

            <div class="box3b">
                <div>L'agence recrute !</div>
                <div class="box3bv">
                    <a href="#">
                        <div style="padding: 10px; text-align:center; align-items:center">Déposez votre CV</div>
                    </a>
                </div>
            </div>

            <div class="box3v">
                <div>Besoin de rencontrer un interlocuteur</div>
                <div class="box3vb">
                    <a href="#">
                        <div style="padding: 10px; text-align:center; align-items:center">Prenez rendez-vous</div>
                    </a>
                </div>
            </div>

        </div>

{% endblock %}